/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://infoparkinnovations.in
Author e-mail:htmlcoder.me@gmail.com
Version:1.0.0
Created:December 2014
License URI:http://infoparkinnovations.in
File Description: Place here your custom CSS styles
*/
/*Header Top */
#newFont1{
            font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
            font-style:normal;
            font-weight:600;
            font-size:14px;
            
           
}

#newFont1 a{
    text-decoration: none;
}
#newFont2{
    
     font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
            font-style:normal;
            font-weight:bold;
   
}
.top-links a:hover{
    color: yellow;
}
#multiDrop li a,#multiDrop li a ul li a{
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
    font-style:normal;
    font-weight:500;
    position:relative;
    z-index:999;
           
} 
#homeRow1{
    background:#f8f8f8 url("../images/bg/overlay.png");
    box-shadow: 0 4px 10px rgba(0,0,0, 0.50);
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
    font-style:normal;
     position:relative;
    z-index: 0;
   
}
#homeRow3{
    box-shadow:inset 0 4px 10px rgba(0,0,0, 0.50);
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
    font-style:normal;
}
#cpara{
    text-align:justify;
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
    font-style:normal;
    
}
#cpara2{
    text-align: center;
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
    font-style:normal;
    
}
#missionCpara{
    font-size:24px;
    line-height:26px;
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
}
#para-font{
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
   
   
}
#heading-font{
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
    line-height:24px;
   
}
#homeRow2{
    background:#e2e2e2;
    box-shadow:inset 0 2px 7px rgba(0,0,0, 0.25);
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
    font-style:normal;
    text-align:justify;
    
}
#threeD{
    color:white;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
#new-ticker{
    background:#1da913;
    
    height:auto;
    color:white;
    margin-top:10px;
    padding-top:10px;
     box-shadow:inset 0 4px 10px rgba(0,0,0, 0.50);
    border-bottom: 1px solid white;
    
}
#footer-top{
    background:#0d5995;
    min-height:40px;
    border-bottom:1px solid white;
    height:auto;
    color:white;
    margin-top:1px;
    padding-top:15px;
    box-shadow:inset 0 4px 10px rgba(0,0,0, 0.50);
    border-bottom: 1px solid white;
    
}
#footer-middle{
     background:#e2e2e2 url("../images/bg/overlay.png");
      box-shadow: 0 4px 10px rgba(0,0,0, 0.50);
      font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
}
#newsAlert-wrap{
     background: white;
   
}
#student-feedbacks{
    border-bottom:4px solid #1da913;
    background:white;
    min-height:150px;
    margin-bottom:20px;
    height:auto;
    font-weight:bold;
    box-shadow:inset 0 2px 10px rgba(0,0,0, 0.50);
}
#selDownload2{
    margin-bottom:20px;
}
#student-downloads{
    border-left:4px solid orangered;
    min-height:50px;
    padding-bottom:5px;
    height:auto;
    background:white;
    font-weight:bold;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.50);
}
#registration-form{
   
    min-height:50px;
    padding-bottom:10px;
    height:auto;
    background:white;
    font-weight:bold;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.50);
}

#downloadImage{
  height:30px;
  width:30px;
  position:relative;
  top:8px;
}
#newsAlert-left1{
    border-left:4px solid #0d5995;
}
#newsAlert-left2{
    border-left:4px solid orangered;
}
#newsAlert-left3{
    border-left:4px solid #e4a700;
}
#qDay{
    min-height:150px;
    height:auto;
    border-left:4px solid #583200;
    padding:10px;
    border-bottom:1px solid #f1f1f1;
    border-top:1px solid #f1f1f1;
    
}
#Alumini-Post{
    font-family:"Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica;
    font-size:12px;
    position:relative;
    top:-10px;
    font-weight:bold;
    color:orangered;
}
#thought-image{
    height:50px;
    width:50px;
    border-radius:50%;
    border: 5px solid #1da913;
    float:left;
   
}
#tposted{
    position:relative;
    top:20px;
    line-height:24px;
}  

